<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

<div class="flex">
    <div class="flex2">
        <div class="textAlg">
            <div class="material-symbols-outlined ">
                task_alt
            </div>
        </div>
        <h2 class="coloring2">Connection Successful</h2>
        <div class="line"></div>

        <div class="textAlg"><a class="coloring2" href="/register">Go Back To Register Page</a></div>
        <div class="line"></div>

        <div class="textAlg"><a class="coloring2" href="/login">Go Back To Login Page</a></div>
    </div>

</div>

<img alt="photo" src="Vectors.png"/>
</body>
</html>